<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prueba1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844B05811DA5188F00C59ABE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844B05951DA5189000C59ABE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844B05A01DA5189000C59ABE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
